*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  font-family: "Montserrat", sans-serif;
  font-size: 0.8em;
  --background-clr-hero: #010618;
  --background-clr-projects: #ddebff;
  --background-clr-card: #eef5ff;
  --text-clr-primary: #ff6500;
  --text-clr-secondary: #ffffff;
  --text-clr-tertiary: #a4bad8;
  --text-clr-quaternary: #d7e6fd;
  background-color: var(--background-clr-hero);
  overflow-x: hidden;
}

body {
  background-color: var(--background-clr-hero);
}

h1 {
  font-size: 2rem;
}

h2 {
  font-size: 1.1rem;
}

h3 {
  font-size: 0.8rem;
}

p {
  font-size: 1rem;
  line-height: 1.5rem;
}

button {
  background: none;
  border: none;
}

@media (min-width: 768px) {
  :root {
    font-size: 0.9em;
  }
}

@media (min-width: 1440px) {
  :root {
    font-size: 1.1em;
  }
}

@keyframes textFill {
  0% {
    stroke-dashoffset: 300;
  }
  55% {
    fill: transparent;
  }
  100% {
    fill: var(--text-clr-primary);
    stroke-dashoffset: 0;
  }
}

@keyframes opacity {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes opacityTranslateY {
  0% {
    opacity: 0;
    transform: translateY(5px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes wordOpacityTranslateY {
  0% {
    opacity: 0;
  }
  60% {
    opacity: 0;
    transform: translateY(30px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes seperator {
  0% {
    opacity: 1;
    transform: scale(0, 1);
  }
  100% {
    opacity: 1;
    transform: scale(1, 1);
  }
}

@keyframes grow {
  0% {
    transform: scale(1);
  }
  40% {
    transform: scale(1.3);
  }
  100% {
    transform: scale(1);
  }
}