*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

:root {
  font-family: "Roboto", sans-serif;
  --clr-primary: #ff6500;
  --clr-secondary: #1c1c23;
  --clr-main: #e3e3e3;
  --bg-main: #1b1b1eff;
  --bg-site: #0d0d0eff;
  --bg-tile: #2a2d38ff;
  --bg-mobile-menu: #ececec;
  --clr-mobile-menu: #121213;
  --clr-desktop-menu: #ececec;
}

body {
  margin: 0;
  background-color: var(--bg-main);
  color: var(--clr-main);
}

h1 {
  font-size: 4rem;
  margin-bottom: 1rem;
}

h2 {
  font-size: 2rem;
  margin-bottom: 1rem;
}

h3 {
  font-size: 1.2rem;
  margin-bottom: 1rem;
}

h4 {
  font-size: 1rem;
  font-weight: 400;
}

p {
  line-height: 1.5rem;
}

a {
  text-decoration: none;
}

@media screen and (min-width: 641px) {
  h4 {
    font-size: 1rem;
    font-weight: 600;
  }
}

button {
  background: unset;
  border: unset;
  color: var(--clr-secondary);
  cursor: pointer;
}

img,
video {
  height: 100%;
  width: 100%;
  object-fit: fill;
}

ul {
  list-style: none;
}

@media (hover: hover) and (pointer: fine) {
  .underline-animation {
    position: relative;
  }

  .underline-animation::after {
    content: "";
    position: absolute;
    bottom: -4px;
    left: 0;
    width: 0%;
    height: 2px;
    background-color: var(--clr-primary);
    transition: width 0.3s ease;
  }

  .underline-animation:hover::after {
    width: 100%;
  }

  .underline-animation:active::after {
    width: 0;
  }

  .project-item:hover .project-video {
    opacity: 1;
    transition: 0.2s;
  }

  .icon:hover {
    filter: brightness(0) invert(1);
    transition: 0.2s;
  }
}

@keyframes fadeIn {
  to {
    opacity: 1;
    transform: translateY(0);
  }
}
