*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

:root {
  font-family: "Roboto", sans-serif;
  --clr-primary: #ff6500;
  --clr-secondary: #1c1c23;
  --clr-main: #e3e3e3;
  --bg-main: #121213;
  --bg-tile: #ececec;
  --clr-tile: #121213;
  --bg-mobile-menu: #ececec;
  --clr-mobile-menu: #121213;
  --clr-desktop-menu: #ececec;
}

body {
  margin: 0;
  background-color: var(--bg-main);
  color: var(--clr-main);
}

h1 {
  font-size: 14rem;
}

h2 {
  font-size: 2rem;
  line-height: 3rem;
}

h3 {
  font-size: 1.2rem;
}

h4 {
  font-size: 1rem;
  font-weight: 400;
}

p {
  line-height: 1.5rem;
}

a {
  text-decoration: none;
}

@media screen and (min-width: 641px) {
  h4 {
    font-size: 1rem;
    font-weight: 600;
  }
}

button {
  background: unset;
  border: unset;
  color: var(--clr-secondary);
  cursor: pointer;
}

img,
video {
  height: 100%;
  width: 100%;
  object-fit: fill;
}

ul {
  list-style: none;
}

.underline-animation {
  position: relative;
}

.underline-animation::after {
  content: "";
  position: absolute;
  bottom: -4px;
  left: 0;
  width: 0%;
  height: 2px;
  background-color: var(--clr-primary);
  transition: width 0.3s ease;
}

.underline-animation:hover::after {
  width: 100%;
}

.underline-animation:active::after {
  width: 0;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
