*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  font-family: "Montserrat", sans-serif;
  font-size: 16px;
  --background-clr-hero: #010618;
  --background-clr-projects1: #e3e8fb;
  --background-clr-projects2: #cad3f4;
  --background-clr-projects3: #cbd2f1;
  --background-clr-card: #eef5ff;
  --text-clr-primary: #ff6500;
  --text-clr-secondary: #ffffff;
  --text-clr-tertiary: #a4bad8;
  --text-clr-quaternary: #d7e6fd;
  background-color: var(--background-clr-hero);
  overflow-x: hidden;
}

body {
  background-color: var(--background-clr-hero);
}

h1 {
  font-size: 3rem;
}

h2 {
  font-size: 2rem;
}

h3 {
  font-size: 1rem;
  font-weight: 500;
}

p {
  font-size: 1rem;
  line-height: 1.5rem;
}

button {
  background: none;
  border: none;
}

img {
  height: 100%;
  width: 100%;
  object-fit: cover;
}
